/*!
 *  build: vue-admin-beautiful 
 *  vue-admin-beautiful author: chuzhixin 1204505056@qq.com 
 *  vue-admin-beautiful QQ Group(QQ群): 972435319、1139183756 
 *  time: 2024-5-1 12:21:00
 */.version-information[data-v-552a744e]{margin-top:20px}.version-information-table[data-v-552a744e]{width:100%;overflow:scroll}.version-information-table table[data-v-552a744e]{width:100%;color:#666;border-collapse:collapse;background-color:#fff}.version-information-table table td[data-v-552a744e]{position:relative;padding:9px 15px;font-size:14px;line-height:20px;border:1px solid #e6e6e6}.version-information-table table td[data-v-552a744e]:nth-child(odd){width:20%;text-align:right;background-color:#f7f7f7}